@import 'global';
@import 'reset';
@import 'themes/dark';
@import 'themes/light';

.app {
  font-family: var(--font-family-main);
  color: var(--inverted-bg-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 10px;
}

.content-page {
  display: flex;
}
